<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#/dragdrop">Manage Technology</a></li>
    <li><a ng-href="#/typeahead">Fill Form</a></li>
  </ul>
  <h3 class="text-muted">Taskstream 2.5</h3>
</div>

<div class="jumbotron">
  <h1>Moving Forward</h1>
  <p class="lead">
    <img src="images/languages.png" width="600px" height="400px" alt="the future"><br>
    To the front (end) of the web. 
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="presentation.html">Splendid!</a></p>
</div>

<div class="row marketing">
  <h4>HTML5</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>CSS3</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Testability</h4>
  <p>Fully blown testing for the front end. Everything from unit tests to cross-browser end to end tests can be done using AngularJs.</p>
</div>

<div class="footer">
  <p>taskstream 2013</p>
</div>
